= form_for @movie, html: {multipart: true, class: 'ui form'} do |f|
  - if @movie.errors.any?
    #error_explanation
      %h2= "#{pluralize(@movie.errors.count, "error")} prohibited this movie from being saved:"
      %ul
        - @movie.errors.full_messages.each do |msg|
          %li= msg

  .fields
    .fourteen.wide.field
      = f.label :title
      = f.text_field :title

    .two.wide.field
      = f.label :year
      = f.number_field :year
  .fields
    .eight.wide.field
      = f.label :director
      = f.text_field :director
    .eight.wide.field
      = f.label :cover
      .ui.fluid.action.input
        %input{type: 'text', readonly: 'readonly'}
        = f.file_field :cover
        .ui.icon.button
          %i.cloud.upload.icon

  .field
    = f.label :description
    = f.text_area :description, rows: 3

  = f.fields_for :movie_images do |image|
    .field
      = f.label :additional_images
      .ui.fluid.action.input
        %input{type: 'text', readonly: 'readonly'}
        = image.file_field :image, multiple: true, name: "movie_images[image][]"
        .ui.icon.button
          %i.cloud.upload.icon

  .actions
    = f.submit 'Save'
