.ui.link.cards
  - @movies.each do |movie|
    .card
      = link_to image_tag(movie.cover_url(:display)), movie_path(movie), class: 'image'
      .content
        .header
          = link_to movie.title, movie_path(movie)
        .meta
          = movie.year
      .extra.content
        %i.picture.icon
        = movie.movie_images.count
        = 'image'.pluralize movie.movie_images.count
