%p#notice= notice

%p
  = image_tag @movie.cover_url(:display)
  = link_to "Edit Cover", edit_movie_image_path(@movie.cover)

%p
  %b Title:
  = @movie.title
%p
  %b Year:
  = @movie.year
%p
  %b Director:
  = @movie.director
%p
  %b Description:
  = @movie.description

  - @movie_images.each do |image|
    %p
      = image_tag image.image_url(:thumb)
      = link_to "Edit Image", edit_movie_image_path(image)

= link_to 'Edit', edit_movie_path(@movie)
\|
= link_to 'Back', movies_path
